- var method_params = _.map(method.params, 'name').join(', ');
article(id="#{method.name}")
  h2= method.name
    if method.deprecated
      span.badge deprecated
  p= method.description
  pre
    code.javascript function #{method.name}(#{method_params}) { ... }
  if method.params
    h4 Params:
    ul.params
      each param in method.params
        li
          code #{param.name}
            span  - {#{capitalize(param.type)}} #{param.description}
  if method.example
    h4 Usage:
    pre
      code.javascript #{method.example}
      
  if method.returns
    h4 Returns:
    pre
      code.javascript #{method.returns}
